<div class="footer-section wf-section">
    <div class="footer-div">
      <div class="w-layout-grid grid">
        <div id="w-node-_702138a4-8a07-6aa1-cdaa-a3998e8936b4-8e8936b1" class="footer-logo-div">
          <div data-w-id="702138a4-8a07-6aa1-cdaa-a3998e8936b5" data-animation-type="lottie" data-src="/assets/documents/bsfi-logo-animation-w-shadow.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="4.033333333333333" data-duration="0" id="w-node-_702138a4-8a07-6aa1-cdaa-a3998e8936b5-8e8936b1" class="bsfi-logo-footer"></div>
        </div>
        <div id="w-node-_702138a4-8a07-6aa1-cdaa-a3998e8936b6-8e8936b1" data-w-id="702138a4-8a07-6aa1-cdaa-a3998e8936b6" class="footer-divider"></div>
        <div id="w-node-_702138a4-8a07-6aa1-cdaa-a3998e8936b7-8e8936b1" class="footer-social">
          <div data-w-id="702138a4-8a07-6aa1-cdaa-a3998e8936b8" class="heading-3-half-white">Social</div>
          <div class="footer-social-icons">
            <a href="#" class="social-link w-inline-block">
              <div data-w-id="702138a4-8a07-6aa1-cdaa-a3998e8936bc" data-animation-type="lottie" data-src="/assets/documents/twitter.json" data-loop="0" data-direction="1" data-autoplay="0" data-is-ix2-target="1" data-renderer="svg" data-default-duration="1" data-duration="0" class="social-icons"></div>
            </a>
            <a href="#" class="social-link w-inline-block">
              <div data-w-id="702138a4-8a07-6aa1-cdaa-a3998e8936be" data-animation-type="lottie" data-src="/assets/documents/linkedin.json" data-loop="0" data-direction="1" data-autoplay="0" data-is-ix2-target="1" data-renderer="svg" data-default-duration="1.36" data-duration="0" class="social-icons"></div>
            </a>
            <a href="#" class="social-link last w-inline-block">
              <div data-w-id="702138a4-8a07-6aa1-cdaa-a3998e8936c0" data-animation-type="lottie" data-src="/assets/documents/facebook.json" data-loop="0" data-direction="1" data-autoplay="0" data-is-ix2-target="1" data-renderer="svg" data-default-duration="1" data-duration="0" class="social-icons last"></div>
            </a>
          </div>
        </div>
        <div class="footer-links">
          <div data-w-id="702138a4-8a07-6aa1-cdaa-a3998e8936c2" class="heading-3-half-white">Links</div>
          <a href="/" aria-current="page" class="footer-links w--current">Home</a>
          <a href="/about" class="footer-links">About</a>
          <a href="/courses" class="footer-links">Courses</a>
          <a href="/infrastructure" class="footer-links">Infrastructure</a>
          <a href="/resource" class="footer-links">Resource</a>
          <a href="/team" class="footer-links">Team</a>
          <a href="/blog" class="footer-links">Blog</a>
          <a href="/contact" class="footer-links last">Contact</a>
        </div>
        <div class="footer-contact">
          <div data-w-id="702138a4-8a07-6aa1-cdaa-a3998e8936d3" class="heading-3-half-white">Contact</div>
          <div class="footer-contact-details big">Phone:</div>
          <div class="footer-contact-details">+91 98989 87878</div>
          <div class="footer-contact-details big">Email:</div>
          <div class="footer-contact-details">info@tnfinskills.com</div>
          <div class="footer-contact-details big">Address:</div>
          <div class="footer-contact-details last">No. 17, Oliver Road<br>Mylapore<br>Chennai - 600 004.</div>
        </div>
      </div>
    </div>
  </div>