<div class="nav-main">
    <div class="contact-info">
      <div class="info-div">
        <div class="social-block">
          <a href="#" class="social-link w-inline-block">
            <div data-w-id="78593a6a-4820-8bf4-9a69-87e4651eb140" data-animation-type="lottie" data-src="/assets/documents/twitter.json" data-loop="0" data-direction="1" data-autoplay="0" data-is-ix2-target="1" data-renderer="svg" data-default-duration="1" data-duration="0" class="social-icons"></div>
          </a>
          <a href="#" class="social-link w-inline-block">
            <div data-w-id="78593a6a-4820-8bf4-9a69-87e4651eb142" data-animation-type="lottie" data-src="/assets/documents/linkedin.json" data-loop="0" data-direction="1" data-autoplay="0" data-is-ix2-target="1" data-renderer="svg" data-default-duration="1.36" data-duration="0" class="social-icons"></div>
          </a>
          <a href="#" class="social-link w-inline-block">
            <div data-w-id="78593a6a-4820-8bf4-9a69-87e4651eb144" data-animation-type="lottie" data-src="/assets/documents/facebook.json" data-loop="0" data-direction="1" data-autoplay="0" data-is-ix2-target="1" data-renderer="svg" data-default-duration="1" data-duration="0" class="social-icons last"></div>
          </a>
        </div>
        <div class="info">
          <div class="contact-info-top">+91 55879 56987 | info@tnfinskills.com</div>
          <div class="lang-div">
            <a href="/" aria-current="page" class="eng-link w--current">English</a>
            <div class="paragraph-default">|</div>
            <a href="/tamil/home-tamil" class="tamil-link">தமிழ்</a>
          </div>
        </div>
      </div>
    </div>
    <div data-animation="default" data-collapse="medium" data-duration="600" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
      <a href="/" data-w-id="78593a6a-4820-8bf4-9a69-87e4651eb152" aria-current="page" class="w-nav-brand w--current">
        <div data-w-id="78593a6a-4820-8bf4-9a69-87e4651eb153" data-animation-type="lottie" data-src="/assets/documents/bsfi-logo-animation-w-shadow.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="4.033333333333333" data-duration="0" class="bsfi-logo-nav-bar"></div><img src="/assets/images/bfsi-main-logo.svg" loading="lazy" alt="TNASDC-BSFI Logo" class="image">
      </a>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <div data-w-id="78593a6a-4820-8bf4-9a69-87e4651eb156" class="nav-menu-anim">
          <a href="/" aria-current="page" class="navlink w-nav-link w--current">Home</a>
          <div class="nav-menu-underline"></div>
        </div>
        <div data-w-id="78593a6a-4820-8bf4-9a69-87e4651eb15a" class="nav-menu-anim">
          <a href="/about" class="navlink w-nav-link">About</a>
          <div class="nav-menu-underline"></div>
        </div>
        <div data-w-id="78593a6a-4820-8bf4-9a69-87e4651eb15e" class="nav-menu-anim">
          <a href="/courses" class="navlink w-nav-link">Courses</a>
          <div class="nav-menu-underline"></div>
        </div>
        <div data-w-id="78593a6a-4820-8bf4-9a69-87e4651eb162" class="nav-menu-anim">
          <a href="/infrastructure" class="navlink w-nav-link">Infrastructure</a>
          <div class="nav-menu-underline"></div>
        </div>
        <div data-w-id="78593a6a-4820-8bf4-9a69-87e4651eb166" class="nav-menu-anim">
          <a href="/resource" class="navlink w-nav-link">Resource</a>
          <div class="nav-menu-underline"></div>
        </div>
        <div data-w-id="78593a6a-4820-8bf4-9a69-87e4651eb16a" class="nav-menu-anim">
          <a href="/team" class="navlink w-nav-link">Team</a>
          <div class="nav-menu-underline"></div>
        </div>
        <div data-w-id="78593a6a-4820-8bf4-9a69-87e4651eb16e" class="nav-menu-anim">
          <a href="/contact" class="navlink w-nav-link">Contact</a>
          <div class="nav-menu-underline"></div>
        </div>
      </nav>
      <div class="menu-button w-nav-button">
        <div class="icon-3 w-icon-nav-menu"></div>
      </div>
    </div>
  </div>